# Group Assignment - Factor Investing
## MSc Financial Engineering
Laurent AL HALLAL  
Ugo ESCATO  
Zhaojie LIN  
Malek MEDDEB

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel('7618 US equities Mar2025 Proposed portfolio.xlsx', skiprows=1)

In [3]:
df.head()

,Ticker,Name,Weight,id_isin,PX_LAST,Trail_12M_EPS,DVD_SH_12M,BOOK_VAL_PER_SH,TRAIL_12M_CASH_FLOW_PER_SH,TRAIL_12M_SALES_PER_SH,...,COUNTRY,COUNTRY_FULL_NAME,CUR_MKT_CAP,NET_INCOME,PE_RATIO,TOT_DEBT_TO_COM_EQY,RETURN_COM_EQY,PR_EPS_GROWTH_PLUS_YLD,Beta,Carbon intensity
0,MSFT UW Equity,Microsoft Corp,2.6,US5949181045,404.815,11.055643,2.86,32.059742,13.808134,30.614475,...,US,UNITED STATES,3.007952e+12,72361.0,36.616143,38.521891,39.174284,19.486496,1.076258,42.130986
1,AAPL UW Equity,Apple Inc,2.6,US0378331005,170.250,6.420000,0.96,4.792945,7.446364,24.664874,...,US,UNITED STATES,2.628980e+12,96995.0,26.518692,199.417501,154.269379,11.563877,1.123685,42.105967
2,NVDA UW Equity,NVIDIA Corp,2.6,US67066G1040,887.410,12.060238,0.16,17.442370,11.379714,24.678604,...,US,UNITED STATES,2.218525e+12,29760.0,73.581464,25.724789,91.455001,38.968030,1.638658,80.523995
3,AMZN UW Equity,Amazon.com Inc,2.6,US0231351067,175.310,2.932093,#N/A Field Not Applicable,19.442839,8.225100,55.764876,...,US,UNITED STATES,1.821012e+12,30425.0,59.790054,76.560248,17.489753,NaN,1.303982,60.085099
4,META UW Equity,Meta Platforms Inc,2.6,US30303M1027,498.670,17.244147,0.5,59.807888,27.633161,52.420498,...,US,UNITED STATES,1.271760e+12,39098.0,28.918219,24.759741,28.038482,20.810251,1.215004,41.403178

## Question 1

### Fundamental Indicators

In [4]:
ptf_pe = (np.sum(df['PX_LAST'] * df['Weight'])) / (np.sum(df['Weight'] * df['Trail_12M_EPS']))
ptf_pb = (np.sum(df['PX_LAST'] * df['Weight'])) / (np.sum(df['Weight'] * df['BOOK_VAL_PER_SH']))
ptf_roe = (np.sum(df['Weight'] * df['RETURN_COM_EQY'])) / 100
ptf_debt_to_equity = (np.sum(df['Weight'] * df['TOT_DEBT_TO_COM_EQY'])) / 100
ptf_eps_growth = (np.sum(df['Weight'] * df['PR_EPS_GROWTH_PLUS_YLD'])) / 100
ptf_beta = np.sum(df['Weight'] * df['Beta']) / 100
ptf_mkt_cap = np.sum(df['Weight'] * df['CUR_MKT_CAP']) / 100 / (10**6) # in million

In [5]:
fundamental_indicators_ptf = {}
fundamental_indicators_ptf['PE'] = np.round(ptf_pe, 2)
fundamental_indicators_ptf['PB'] = np.round(ptf_pb, 2)
fundamental_indicators_ptf['ROE'] = np.round(ptf_roe, 2)
fundamental_indicators_ptf['Debt to Equity'] = np.round(ptf_debt_to_equity, 2)
fundamental_indicators_ptf['EPS Growth (%)'] = np.round(ptf_eps_growth, 2)
fundamental_indicators_ptf['Beta'] = np.round(ptf_beta, 2)
fundamental_indicators_ptf['Market Cap (in million)'] = np.round(ptf_mkt_cap, 2)

In [6]:
fundamental_indicators_benchmark = {}
fundamental_indicators_benchmark['PE'] = 32.60
fundamental_indicators_benchmark['PB'] = 9
fundamental_indicators_benchmark['ROE'] = 46.59
fundamental_indicators_benchmark['Debt to Equity'] = 195
fundamental_indicators_benchmark['EPS Growth (%)'] = 11
fundamental_indicators_benchmark['Beta'] = 1.00
fundamental_indicators_benchmark['Market Cap (in million)'] = 736048

In [7]:
fundamental_indicators = pd.DataFrame([fundamental_indicators_ptf, fundamental_indicators_benchmark], index=['Portfolio', 'Benchmark']).T
fundamental_indicators

                         Portfolio  Benchmark
PE                           29.20      32.60
PB                            6.68       9.00
ROE                          43.43      46.59
Debt to Equity              210.02     195.00
EPS Growth (%)               10.20      11.00
Beta                          1.03       1.00
Market Cap (in million)  488097.43  736048.00

### Sector Exposure

In [8]:
ptf_communication_services_exposure = np.sum(df[df['GICS_SECTOR_NAME'] == 'Communication Services']['Weight']) / np.sum(df['Weight']) * 100
ptf_consumer_discretionary_exposure = np.sum(df[df['GICS_SECTOR_NAME'] == 'Consumer Discretionary']['Weight']) / np.sum(df['Weight']) * 100
ptf_consumer_staples_exposure = np.sum(df[df['GICS_SECTOR_NAME'] == 'Consumer Staples']['Weight']) / np.sum(df['Weight']) * 100
ptf_energy_exposure = np.sum(df[df['GICS_SECTOR_NAME'] == 'Energy']['Weight']) / np.sum(df['Weight']) * 100
ptf_financials_exposure = np.sum(df[df['GICS_SECTOR_NAME'] == 'Financials']['Weight']) / np.sum(df['Weight']) * 100
ptf_health_care_exposure = np.sum(df[df['GICS_SECTOR_NAME'] == 'Health Care']['Weight']) / np.sum(df['Weight']) * 100
ptf_industrials_exposure = np.sum(df[df['GICS_SECTOR_NAME'] == 'Industrials']['Weight']) / np.sum(df['Weight']) * 100
ptf_information_technology_exposure = np.sum(df[df['GICS_SECTOR_NAME'] == 'Information Technology']['Weight']) / np.sum(df['Weight']) * 100
ptf_materials_exposure = np.sum(df[df['GICS_SECTOR_NAME'] == 'Materials']['Weight']) / np.sum(df['Weight']) * 100
ptf_real_estate_exposure = np.sum(df[df['GICS_SECTOR_NAME'] == 'Real Estate']['Weight']) / np.sum(df['Weight']) * 100
ptf_utilities_exposure = np.sum(df[df['GICS_SECTOR_NAME'] == 'Utilities']['Weight']) / np.sum(df['Weight']) * 100

In [9]:
sector_exposures_ptf = {}
sector_exposures_ptf['Communication Services exposure (%)'] = np.round(ptf_communication_services_exposure, 2)
sector_exposures_ptf['Consumer Discretionary exposure (%)'] = np.round(ptf_consumer_discretionary_exposure, 2)
sector_exposures_ptf['Consumer Staples exposure (%)'] = np.round(ptf_consumer_staples_exposure, 2)
sector_exposures_ptf['Energy exposure (%)'] = np.round(ptf_energy_exposure, 2)
sector_exposures_ptf['Financials exposure (%)'] = np.round(ptf_financials_exposure, 2)
sector_exposures_ptf['Health Care exposure (%)'] = np.round(ptf_health_care_exposure, 2)
sector_exposures_ptf['Industrials exposure (%)'] = np.round(ptf_industrials_exposure, 2)
sector_exposures_ptf['Information Technology exposure (%)'] = np.round(ptf_information_technology_exposure, 2)
sector_exposures_ptf['Materials exposure (%)'] = np.round(ptf_materials_exposure, 2)
sector_exposures_ptf['Real Estate exposure (%)'] = np.round(ptf_real_estate_exposure, 2)
sector_exposures_ptf['Utilities exposure (%)'] = np.round(ptf_utilities_exposure, 2)

In [10]:
sector_exposures_benchmark = {}
sector_exposures_benchmark['Communication Services exposure (%)'] = 8.66
sector_exposures_benchmark['Consumer Discretionary exposure (%)'] = 10.40
sector_exposures_benchmark['Consumer Staples exposure (%)'] = 5.90
sector_exposures_benchmark['Energy exposure (%)'] = 3.80
sector_exposures_benchmark['Financials exposure (%)'] = 12.85
sector_exposures_benchmark['Health Care exposure (%)'] = 12.42
sector_exposures_benchmark['Industrials exposure (%)'] = 9.00
sector_exposures_benchmark['Information Technology exposure (%)'] = 30.10
sector_exposures_benchmark['Materials exposure (%)'] = 2.36
sector_exposures_benchmark['Real Estate exposure (%)'] = 2.40
sector_exposures_benchmark['Utilities exposure (%)'] = 2.11

In [11]:
sector_exposures = pd.DataFrame([sector_exposures_ptf, sector_exposures_benchmark], index=['Portfolio', 'Benchmark']).T
sector_exposures

                                     Portfolio  Benchmark
Communication Services exposure (%)       9.23       8.66
Consumer Discretionary exposure (%)       9.92      10.40
Consumer Staples exposure (%)             6.20       5.90
Energy exposure (%)                       6.44       3.80
Financials exposure (%)                  17.57      12.85
Health Care exposure (%)                 13.34      12.42
Industrials exposure (%)                  9.04       9.00
Information Technology exposure (%)      22.36      30.10
Materials exposure (%)                    3.53       2.36
Real Estate exposure (%)                  0.13       2.40
Utilities exposure (%)                    2.24       2.11

# Question 2

### Sectors

In [12]:
sector_exposures['Overweight/Underweight'] = sector_exposures['Portfolio'] - sector_exposures['Benchmark']
sector_exposures

,Portfolio,Benchmark,Overweight/Underweight
Communication Services exposure (%),9.23,8.66,0.57
Consumer Discretionary exposure (%),9.92,10.40,-0.48
Consumer Staples exposure (%),6.20,5.90,0.30
Energy exposure (%),6.44,3.80,2.64
Financials exposure (%),17.57,12.85,4.72
Health Care exposure (%),13.34,12.42,0.92
Industrials exposure (%),9.04,9.00,0.04
Information Technology exposure (%),22.36,30.10,-7.74
Materials exposure (%),3.53,2.36,1.17
Real Estate exposure (%),0.13,2.40,-2.27
Utilities exposure (%),2.24,2.11,0.13

In [13]:
over_exposures = sector_exposures.nlargest(2, 'Overweight/Underweight')
under_exposures = sector_exposures.nsmallest(2, 'Overweight/Underweight')

print(f'The two biggest over-exposed sectors: {over_exposures.index.tolist()}')
print(f'The two biggest under-exposed sectors: {under_exposures.index.tolist()}')

The two biggest over-exposed sectors: ['Financials exposure (%)', 'Energy exposure (%)']
The two biggest under-exposed sectors: ['Information Technology exposure (%)', 'Real Estate exposure (%)']

### Factors

In [15]:
styles = ['Value', 'Growth', 'Size (small/mid caps)', 'Quality', 'Low Beta']
OW = ['X', '', 'X', '', ''] 
UW = ['', 'X', '', 'X', 'X'] 
Main_Reasons = ['Lower PE and lower PB', 'Lower EPS Growth', 'Lower Market Cap', 'Lower ROE and higher Debt-to-Equity', 'Higher Beta'] 

factors_df = pd.DataFrame({'Styles': styles, 'OW': OW, 'UW': UW, 'Main Reasons': Main_Reasons})
factors_df.set_index('Styles', inplace=True)
factors_df.columns = ['Overweight', 'Underweight', 'Main Reasons']
factors_df

,Overweight,Underweight,Main Reasons
Styles,,,
Value,X,,Lower PE and lower PB
Growth,,X,Lower EPS Growth
Size (small/mid caps),X,,Lower Market Cap
Quality,,X,Lower ROE and higher Debt-to-Equity
Low Beta,,X,Higher Beta

# Question 3